############################
# Build results
############################
bin/
obj/

############################
# VS Code
############################
.vscode/

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Rider
############################
.idea/
*.sln.iml

############################
# Logs
############################
*.log

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# NuGet
############################
*.nupkg
.nuget/
packages/

############################
# Test Results
############################
TestResults/

############################
# Environment files
############################
.env
.env.*

############################
# Publish output
############################
publish/

############################
# Azure / local settings
############################

